.appContainer {
  align-items: flex-start;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 0.5rem 1rem;
  width: 100%;
}
