.containerCategories {
  column-gap: 0.4rem;
  display: flex;
  width: 95%;
}

.containerCategories button {
  background-color: #f18805;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0.25rem #222;
  color: #222;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.35rem;
  width: 100%;
}

@media screen and ( max-width : 360px ) {

  .containerCategories {
    display: grid;
    grid-gap: 0.3rem;
    grid-template-columns: auto auto auto;
    width: 100%;
  }

  .containerCategories button {
    font-size: 1rem;
    padding: 0.15rem;
  }
}
