.containerCategories {
  display: grid;
  /* justify-content: space-around; */
  grid-gap: 0.30rem;
  width: 100%;
  grid-template-columns: auto auto auto;
}

.containerCategories button {
  width: 100%;
  padding: 0.15rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 0.25rem #222222;
  color: #222222;
  background-color: #F18805;
  font-size: 1rem;
}