@media screen and ( max-width : 360px ) {

  .containerFoods {
    align-items: center;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0.5rem;
    row-gap: 0.75rem;
  }

  .containerFoods section {
    width: 100%;
  }

}
