.containerRecipeDetail {
  align-items: center;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.75rem;
  width: 100%;
}

.containerRecipeMeal {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  width: 100%;
}

.containerRecipeMeal header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.containerRecipeMeal header div {
  align-items: center;
  column-gap: 0.75rem;
  display: flex;
  justify-content: space-around;
}

.containerRecipeMeal header h1 {
  color: #222;
  font-family: Oleo Script Swash Caps , cursive , sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
}

.contentPhoto {
  align-items: center;
  column-gap: 2rem;
  display: flex;
  height: 30rem;
  justify-content: space-between;
  width: 100%;
}

.photo {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  row-gap: 0.5rem;
}

.photo > img {
  border-radius: 25%;
  box-shadow: 0 0 0.5rem #f18806;
  width: 28rem;
}

.photo p {
  font-size: 1.5rem;
  font-weight: 600;
}

.icons {
  height: 3rem;
}

.contentInformations {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 0.5rem;
  width: 100%;
}

.ingredientList {
  background-color: #222;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem #f18806;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  width: 35rem;
}

.ingredientList p {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.ingredientList ul {
  padding-left: 1rem;
  text-align: left;
}

.ingredientList li {
  font-size: 1rem;
  text-align: left;
}

.instructions {
  background-color: #222;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem #f18806;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  padding: 1rem;
  row-gap: 0.7rem;
  text-align: left;
  width: 60rem;
}

.instructions p {
  font-size: 1rem;
  line-height: 1.4rem;
}

.instructions h3 {
  font-size: 1.5rem;
  line-height: 1.4rem;
  text-align: center;
}

.instructions p:nth-child( 1 ) {
  text-align: center;
}

.containerRecipeMeal iframe {
  height: 30rem;
  width: 100%;
}

.buttonStart {
  background-color: #f18805;
  border: none;
  border-radius: 50%;
  bottom: 4rem;
  box-shadow: 0 0 1rem #222;
  color: black;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  height: 12rem;
  padding: 1rem;
  position: fixed;
  right: 1.5rem;
  text-align: center;
  width: 12rem;
}

@media screen and ( max-width : 360px ) {

  .containerRecipeDetail {
    padding: 0 0 2.25rem;
    width: 100%;
  }

  .containerRecipeDetail > section {
    width: 100%;
  }

  .containerRecipeMeal header h1 {
    font-size: 2rem;
  }

  .contentPhoto {
    column-gap: 0;
    flex-direction: column;
    height: auto;
    justify-content: center;
    row-gap: 1rem;
    width: 100%;
  }

  .photo {
    row-gap: 1rem;
  }

  .photo > img {
    border-radius: 0.5rem;
    padding: 0;
    width: 100%;
  }

  .icons {
    height: 1.8rem;
  }

  .ingredientList {
    border-radius: 0.5rem;
    width: 100%;
  }

  .ingredientList p {
    font-size: 1.25rem;
  }

  .instructions {
    border-radius: 0.5rem;
    height: auto;
    overflow-y: none;
    row-gap: 0.7rem;
    width: 100%;
  }

  .instructions p {
    line-height: 1.4rem;
  }

  .instructions p:nth-child( 1 ) {
    text-align: center;
  }

  .containerRecipeMeal > iframe {
    height: 25rem;
    width: 50%;
  }

  .buttonStart {
    background-color: #f18805;
    border: none;
    border-radius: 5px;
    bottom: 0.5rem;
    box-shadow: 0 0 0.5rem #222;
    color: black;
    font-size: 1.3rem;
    height: auto;
    left: 1rem;
    padding: 0.15rem;
    position: fixed;
    width: 90%;
  }
}
